body {
  line-height: 29px !important;
}
p {
  font-size: 18px;
  padding-left: 10%;
  color: white;
}
li {
  font-size: 18px;
}
ul {
  padding-left: 10% !important;
  color: white;
}
ol {
  color: white;
  padding-left: 10% !important;
}
h1 {
  text-align: center;
  padding-bottom: 23px;
  padding-top: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}
h2 {
  padding-left: 10%;
  padding-bottom: 12px;
  padding-top: 14px;
  color: rgb(94, 73, 73);
}
